<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="desktop-0hnvs4d\sql2016.BookstoreManager.dbo" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-0HNVS4D\SQL2016;integrated security=SSPI;initial catalog=BookstoreManager" />
    </connectionStrings>
</configuration>